html {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #cce0dd;
  }
  .navbar{
    border-color: white;
    border-width:1rem; 
    background-color:white;
    font-size: 2rem;
    width: 100%;
}
.navbar-brand{
    text-align: center;
}